.todoItem {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr 0.5fr;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--item-background-color);
    gap: 1rem;
    box-sizing: border-box;
}

.editButton {
    background-color: var(--button-edit-todo);
}

.editButton:hover {
    background-color: var(--button-hover-edit-todo);
}

.deleteButton {
    background-color: var(--button-delete-todo);
}

.deleteButton:hover {
    background-color: var(--button-hover-delete-todo);
}

@media (max-width: 930px) {

    .todoItem {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--border-color);
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .todoItem div {
        padding: 0.5rem 0;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
    }

    .editButton,
    .deleteButton {
        width: 80%;
    }
}