button {
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    color: var(--text-color-2);
    font-weight: 500;
    margin-top: 0.7rem;
    box-shadow: var(--box-shadow-config);
    transition: all 500ms ease;
    letter-spacing: 1px;
    cursor: pointer;
}