.editContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--edit-container-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: var(--container-background-color-2);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-radius: 10px;
    border: 2px solid var(--border-color);
}

.modal h2 {
    color: var(--text-color-2);
    margin-top: 0;
}

.cancelButton {
    background-color: var(--button-edit-cancel-todo);
    width: 70%;
    font-size: 1rem;
}

.cancelButton:hover {
    background-color: var(--button-hover-edit-cancel-todo);
}

@media (max-width: 930px) {
    .modal {
        width: 85vw;
    }
}

