.header {
    width: 100%;
}

.divHeader {
    background-color: var(--container-background-color-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
}

.divHeader h1 {
    color: var(--text-color-2);
}

.divSearch {
    display: flex;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    background-color: var(--field-backgroung-color);
    max-width: 250px;
    justify-content: space-between;
}

.divSearch input {
    display: flex;
    border: none;
    outline: none;
    margin-left: 5px;
    width: 100%;
    background-color: var(--field-backgroung-color);
}

.divSearch button {
    background-color: var(--button-search-todo);
    padding: 0.5rem 0.8rem;
    margin-top: 0;
}

.divSearch button:hover {
    background-color: var(--button-hover-search-todo);
}