.header {
    width: 100%;
}

.div_header {
    background-color: #4663ac;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.div_header h1 {
    cursor: pointer;
}

.div_search {
    display: flex;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 250px;
    justify-content: space-between;
}

.div_search input {
    display: flex;
    border: none;
    outline: none;
    margin-left: 5px;
    width: 100%;
}

.div_search button {
    display: flex;
    background-color: #4285F4;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .header .div_header {
        gap: 20px;
        padding: 40px 10px;
    }

    .header .right_box button {
        display: none;
    }
}